@page "/assignments"
@page "/calendar"

<PageTitle>Assignments</PageTitle>

<h1 class="page-h1">Assignments</h1>
<nav aria-label="breadcrumb" class="mb-2">
    <ol class="breadcrumb breadcrumb-mini mb-0">
        <li class="breadcrumb-item"><a href="">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Assignments</li>
    </ol>
</nav>

<section class="assignments-placeholder">
    Bulk work reassignment functions will be available here.
</section>
